* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    padding: 20px 0 50px 0;
}

header>h1 {
    text-shadow: 1px 1px 0 #dfb65d;
    color: #e09e0e;
    padding-right: 100px;
}

header>button {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: none;
    background-color: #39b3d8;
    color: white;
    font-size: 35px;
}

header>button:hover {
    background-color: #2f94b3;
}

.cursor-pointer {
    cursor: pointer;
}

.nota {
    box-shadow: 1px 1px 4px 0 #888888;
    background-color: #f8f7f7;
    width: 560px;
    min-height: 340px;
    border-radius: 1px;
    margin-bottom: 50px;
}

.header-nota {
    background-color: #e6e6e6;
    width: 100%;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header-nota>span {
    color: #39b3d8;
    font-size: 12px;
    margin-left: 5px;
    font-style: italic;
}

#section-nota {
    display: flex;
    flex-direction: column-reverse;
}

.header-nota>span>button {
    border: none;
    background-color: #ffffff00;
}

.fa-check {
    margin-right: 10px;
    font-size: 20px;
    text-shadow: 1px 0 2px #395e39;
    color: lightgreen;
}

.fa-trash {
    color: red;
    font-size: 20px;
}

span {
    display: flex;
    align-items: center;
}

.bodyNota {
    width: 100%;
    height: 88.5%;
    padding: 20px;
}

.colorButton {
    width: 20px;
    height: 20px;
    border: solid 2px #747474;
    background-color: #f8f7f7;
    box-shadow: 1px 1px 2px 0 #b6b6b6;
    margin-right: 10px;
}

.div-nota {
    display: flex;
    flex-direction: row;
}

.div-change-color {
    width: 200px;
    background-color: #f8f7f7;
    box-shadow: 1px 1px 4px 0 #888888;
    height: auto;
    border-radius: 1px;
    margin-bottom: 50px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trocarCor {
    background-color: black;
    width: 60px;
    height: 60px;
    margin: 8px;
    box-shadow: 1px 1px 4px 0 #888888;
}

.esquerda {
    display: flex;
    flex-direction: column;
}

.direita {
    display: flex;
    flex-direction: column;
}

.verde {
    background-color: #d0f2d0;
    /* verde claro pastel */
}

.azul {
    background-color: #d0e8f2;
    /* azul claro pastel */
}

.amarelo {
    background-color: #fff9cc;
    /* amarelo suave */
}

.vermelho {
    background-color: #f8d0d0;
    /* vermelho claro, tom rosado */
}

.roxo {
    background-color: #e3d1f7;
    /* roxo lavanda claro */
}

.rosa {
    background-color: #fbd4e8;
    /* rosa claro pastel */
}

.laranja {
    background-color: #ffe2c6;
    /* laranja claro pastel */
}

.branco {
    background-color: #f8f7f7;
    /* cinza bem clarinho */
}