<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

    <header>
        <h1> JavaScript Markdown Note</h1>

        <button id="adicionarNota" class="cursor-pointer">+</button>
    </header>

    <section id="section-nota">

        <div class="nota">

            <div class="header-nota">

                <span>Friday 18 July, 2025 at 12:37PM</span>

                <span>
                    <button>
                        <i class="fa-solid fa-check cursor-pointer"></i>
                    </button>

                    <button>
                        <i class="fa-solid fa-trash cursor-pointer"></i>
                    </button>
                </span>

            </div>

            <div>

            </div>
        </div>

    </section>

    <script src="/static/main.js"></script>
</body>

</html>